
* {
    padding: 0;
    margin: 0;
}
header {
    height: 300px;
    background-image: url(https://images.pexels.com/photos/1452701/pexels-photo-1452701.jpeg?cs=srgb&dl=pexels-berend-de-kort-1452701.jpg&fm=jpg);
    background-size: cover;
}
body {
    color: white;
    background-color: rgb(4, 49, 64);
   
}
section {
    width: 50%;
    padding: 2%;
    text-align: justify;
}
h1, h2, h3 {
    line-height: 50px;
}
p {
    margin-bottom: 10px;
}
.titlebanner {
    color: white;     
    line-height: 50px;
    font-weight: 600;
    font-size: 45px;
    transform: translatex(19%);
    display: inline-block;
    padding: 100px;
}
.nav li {
    display: inline-block; 
    color: white;
    font-weight: 700;
}
.navtop {
    font-size: 16px;
    height: 25px;
    text-align: center;
    width: 200px;
    position: absolute;
    right: 75%;
    top: 42%  
}  
.navabout {
    font-size: 16px;
    height: 25px;
    text-align: center;
    width: 200px;
    position: absolute;
    left: 50%;  
    transform: translate(-50%);
    top: 42%;
}
.navcontact {
    font-size: 16px;
    height: 25px;
    text-align: center;
    width: 200px;
    position: absolute;
    left: 75%;
    top: 42%
}
a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:visited {
    color: rgb(255, 255, 255);
}
a:hover {
    color: rgb(138, 185, 189);
}
a:active {
    background-color: rgb(255, 255, 255);
}
.img1-settings {
    height: 450px;
    background-size: cover;
}
.img2-settings {
    height: 450px;
    background-size: cover;
    float: left;
    margin-right: 10px;
}
.img3-settings {
    height: 450px;
    background-size: cover;
    float: right;
    margin-left: 10px;
}
.ref {
    margin-top: 220px;
}
#visao {
    margin-left: 46%;
}
#reproducao {
    margin-top: 50px;
}




